@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
}


$primary-white: #fff;
$primary-purple: #565387;
$primary-blue: #3698db;


/* -------- NAVBAR -------- */
.navbar {
    color: $primary-white !important;

    .navbar-brand {
        font-size: 28px !important;
        color: $primary-purple !important;
        font-weight: 700;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        font-weight: bold;
        color: $primary-blue;
        border-bottom: 1px solid $primary-purple;
        transition: .4s;
    }

    a {
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 600;
    }

    a:hover {
        color: $primary-blue;
    }
}




/* -------------- HOME -------------- */
#header {
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
        font-size: 20px;
    }

    .brand-name {
        color: $primary-blue;
        font-size: 35px;
    }

    .btn-get {
        color: $primary-blue;
        border: 1px solid $primary-blue;
        border-radius: 20px;
        padding: 10px 30px;
    }

    .btn-get:hover {
        background-color: $primary-blue;
        color: $primary-white;
        cursor: pointer;
    }
}

#header img.animated-img {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.card img {
    height: 200px;
}

/* ===========================
RESPONSIVE CSS 
==============================*/
@media (max-width: 991px) {
    .navbar-brand {
        font-size: 22px !important;
    }
}